
<html>
<head>
	<style>
		body {
			background: darkgrey; 
			margin: 0;
			padding-bottom: 0;
			overflow: scroll;
		}
		div {
			display: block;
		}
		#container {
			border: solid 5px black;
			position: relative;
			top: 50px;
		}
		#header h1 {
			margin: 0;
			height: 20px;
			font-size: 20px;
			text-align: center;
			}
		#header {
			width:100%;
			height: 40px;
			background-color: grey;
			
			position:fixed;
			z-index:1;
			text-align: center;
			
		}
		#searchbar {
			width: 100%;
			background: grey;
			height: 30px;
			display:block;
			position: fixed;
			top: 20px;	
			z-index: 1;
			text-align: center;
		}
		#container #wiki {
			width: 100%;
			background: clear;
			height: 200;
			overflow: scroll;
		}
		.wikiResults{
			height: 8px;
		background-color: rgb(255, 100, 127);
		text-align: center;
		padding: 15px;
		margin: 5px auto;
		width: 5%;
	}
		.wikiResults:hover{
		background-color: rgb(107, 255, 124);
		}
