<html>
   <head>
      <style>
      .low {
         color: black;
      }
      .high {
         color: white;
      }
      .medium {
         color: brown;
      }
      .done {
         color: cyan;
      }
 </style>
 </head>
 </html>
