<html>
   <head>
      <style>
      .high {
         color: white;
         background-color: red;
       }
      .medium {
         color: brown;
         background-color: orange;
      }
      .low {
         color: black;
         background-color: blue;
      }
      .done {
         color: cyan;
         background-color: black;
         text-decoration: line-through;
      }
 </style> 
 </head>
 </html>
