<html>
   <head>
      <style>
      .medium {
         color: orange;
      }
      .low {
         color: gray;
      }
      .high {
         color: red;
      }
      .done {
         text-decoration: line-through;
      }
 </body>
 </html>
