
      .high {
         color: white;
         background-color: red;
       }
      .medium {
         color: brown;
         background-color: orange;
      }
      .low {
         color: black;
         background-color: blue;
      }
      .done {
         color: cyan;
         background-color: black;
         text-decoration: line-through;
      }
      section {
         height: 200px;
         width: 300px;
         overflow: auto;
         margin: 10 10 10 10;
         border: 2px dotted rgb(0,0,0);
         float:left;
      }


